DSMR_HA_flow.json
[{"id":"363abf733677adec","type":"tab","label":"DSMR flow","disabled":false,"info":"","env":[]},{"id":"03b9456d91a559fb","type":"http request","z":"363abf733677adec","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://192.168.1.113/restAPI?get=Actueel","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":250,"y":580,"wires":[["639a333b343a89a2","1e962cbb708d8266","6305505e132266d2","968d87199069ce25","2998c44de38b37e0","e20e40b634b11a07","70382e648a8f55da","d8cf21d1a7fcecfb","98dc6bd75bf057d7","f7dc069a323f2220","a68ad995cbacc0f2","30faaedc679505b2","f933212831c7d260","d75ea857a0c15473"]]},{"id":"0b2d8b13d4711fb9","type":"inject","z":"363abf733677adec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":520,"wires":[["03b9456d91a559fb"]]},{"id":"1e962cbb708d8266","type":"debug","z":"363abf733677adec","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":260,"wires":[]},{"id":"639a333b343a89a2","type":"function","z":"363abf733677adec","name":"Energy_Delivered","func":"var newMsg = { payload: msg.payload.Energy_Delivered };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":380,"wires":[["0a11ff5ded26d5f0"]]},{"id":"6305505e132266d2","type":"function","z":"363abf733677adec","name":"Energy_Returned","func":"var newMsg = { payload: msg.payload.Energy_Returned };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":440,"wires":[["99af73055af75b0b"]]},{"id":"99af73055af75b0b","type":"ha-sensor","z":"363abf733677adec","name":"DSMR_Energy_Returned","entityConfig":"6fa44bd31c4282b5","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":830,"y":440,"wires":[[]]},{"id":"0a11ff5ded26d5f0","type":"ha-sensor","z":"363abf733677adec","name":"DSMR_Energy_Delivered","entityConfig":"4ef50dd03f726b51","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":830,"y":380,"wires":[[]]},{"id":"968d87199069ce25","type":"function","z":"363abf733677adec","name":"Gas_Delivered","func":"var newMsg = { payload: msg.payload.Gas_Delivered };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":500,"wires":[["2de70614a28120e0"]]},{"id":"2de70614a28120e0","type":"ha-sensor","z":"363abf733677adec","name":"DSMR_Gas_Delivered","entityConfig":"fea7ff86e84452d9","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":820,"y":500,"wires":[[]]},{"id":"2998c44de38b37e0","type":"function","z":"363abf733677adec","name":"Energy_Delivered_Tariff1","func":"var newMsg = { payload: msg.payload.Energy_Delivered_Tariff1 };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":560,"wires":[["1c8af18677ee4c94"]]},{"id":"1c8af18677ee4c94","type":"ha-sensor","z":"363abf733677adec","name":"DSMR_Energy_Delivered_Tariff1","entityConfig":"54cf3725725d55e6","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":860,"y":560,"wires":[[]]},{"id":"e20e40b634b11a07","type":"function","z":"363abf733677adec","name":"Energy_Delivered_Tariff2","func":"var newMsg = { payload: msg.payload.Energy_Delivered_Tariff2 };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":620,"wires":[["e7dac8d18a25a4f2"]]},{"id":"e7dac8d18a25a4f2","type":"ha-sensor","z":"363abf733677adec","name":"DSMR_Energy_Delivered_Tariff2","entityConfig":"807806ec63f2f16a","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":860,"y":620,"wires":[[]]},{"id":"70382e648a8f55da","type":"function","z":"363abf733677adec","name":"Energy_Returned_Tariff1","func":"var newMsg = { payload: msg.payload.Energy_Returned_Tariff1 };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":680,"wires":[["033029e76f5ff0f9"]]},{"id":"033029e76f5ff0f9","type":"ha-sensor","z":"363abf733677adec","name":"DSMR_Energy_Returned_Tariff1","entityConfig":"201a13c2fdd50a3c","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":860,"y":680,"wires":[[]]},{"id":"d8cf21d1a7fcecfb","type":"function","z":"363abf733677adec","name":"Energy_Returned_Tariff2","func":"var newMsg = { payload: msg.payload.Energy_Returned_Tariff2 };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":740,"wires":[["5fa48f52168e383f"]]},{"id":"5fa48f52168e383f","type":"ha-sensor","z":"363abf733677adec","name":"DSMR_Energy_Returned_Tariff2","entityConfig":"18eb8fc99c47eedb","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":860,"y":740,"wires":[[]]},{"id":"98dc6bd75bf057d7","type":"function","z":"363abf733677adec","name":"Power_Delivered","func":"var newMsg = { payload: msg.payload.Power_Delivered };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":800,"wires":[["ce742094c3638608"]]},{"id":"ce742094c3638608","type":"ha-sensor","z":"363abf733677adec","name":"DSMR_Power_Delivered","entityConfig":"021ab0303b63b713","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":830,"y":800,"wires":[[]]},{"id":"f7dc069a323f2220","type":"function","z":"363abf733677adec","name":"Power_Returned","func":"var newMsg = { payload: msg.payload.Power_Returned };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":860,"wires":[["28ccb8cda68f7914"]]},{"id":"28ccb8cda68f7914","type":"ha-sensor","z":"363abf733677adec","name":"DSMR_Power_Returned","entityConfig":"3a442e9e7e391066","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":830,"y":860,"wires":[[]]},{"id":"a68ad995cbacc0f2","type":"function","z":"363abf733677adec","name":"Voltage_L1","func":"var newMsg = { payload: msg.payload.Voltage_l1 };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":920,"wires":[["8d240b39e853dcd2"]]},{"id":"8d240b39e853dcd2","type":"ha-sensor","z":"363abf733677adec","name":"DSMR_Voltage_l1","entityConfig":"cca6c596e3326f60","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":810,"y":920,"wires":[[]]},{"id":"30faaedc679505b2","type":"function","z":"363abf733677adec","name":"Current_L1","func":"var newMsg = { payload: msg.payload.Current_l1 };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":980,"wires":[["a3983563e2490bef"]]},{"id":"a3983563e2490bef","type":"ha-sensor","z":"363abf733677adec","name":"DSMR_Current_l1","entityConfig":"a8f8fd19edbba897","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":810,"y":980,"wires":[[]]},{"id":"f933212831c7d260","type":"function","z":"363abf733677adec","name":"Power_Delivered_l1","func":"var newMsg = { payload: msg.payload.Power_Delivered_l1 };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1040,"wires":[["a11a6ee3276cef46"]]},{"id":"a11a6ee3276cef46","type":"ha-sensor","z":"363abf733677adec","name":"DSMR_Power_Delivered_l1","entityConfig":"fc1612024a5279e4","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":840,"y":1040,"wires":[[]]},{"id":"d75ea857a0c15473","type":"function","z":"363abf733677adec","name":"Power_Returned_l1","func":"var newMsg = { payload: msg.payload.Power_Returned_l1 };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1100,"wires":[["b96cdbdfac32b072"]]},{"id":"b96cdbdfac32b072","type":"ha-sensor","z":"363abf733677adec","name":"DSMR_Power_Returned_l1","entityConfig":"4552133414f0d7d1","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":840,"y":1100,"wires":[[]]},{"id":"6fa44bd31c4282b5","type":"ha-entity-config","server":"30ef41fd.f4b83e","deviceConfig":"","name":"DSMR_Energy_Returned","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"DSMR.Energy_Returned"},{"property":"icon","value":"mdi:lightning-bolt"},{"property":"entity_category","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"}],"resend":false},{"id":"4ef50dd03f726b51","type":"ha-entity-config","server":"30ef41fd.f4b83e","deviceConfig":"","name":"DSMR_Energy_Delivered","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"DSMR.Energy_Delivered"},{"property":"icon","value":"mdi:lightning-bolt"},{"property":"entity_category","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"}],"resend":false},{"id":"fea7ff86e84452d9","type":"ha-entity-config","server":"30ef41fd.f4b83e","deviceConfig":"","name":"DSMR_Gas_Delivered","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"DSMR.Gas_Delivered"},{"property":"icon","value":"mdi:meter-gas"},{"property":"entity_category","value":""},{"property":"device_class","value":"gas"},{"property":"unit_of_measurement","value":"m³"},{"property":"state_class","value":"total_increasing"}],"resend":false},{"id":"54cf3725725d55e6","type":"ha-entity-config","server":"30ef41fd.f4b83e","deviceConfig":"","name":"DSMR_Energy_Delivered_Tariff1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"DSMR.Energy_Delivered_Tariff1"},{"property":"icon","value":"mdi:lightning-bolt"},{"property":"entity_category","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"}],"resend":false},{"id":"807806ec63f2f16a","type":"ha-entity-config","server":"30ef41fd.f4b83e","deviceConfig":"","name":"DSMR_Energy_Delivered_Tariff2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"DSMR.Energy_Delivered_Tariff2"},{"property":"icon","value":"mdi:lightning-bolt"},{"property":"entity_category","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"}],"resend":false},{"id":"201a13c2fdd50a3c","type":"ha-entity-config","server":"30ef41fd.f4b83e","deviceConfig":"","name":"DSMR_Energy_Returned_Tariff1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"DSMR.Energy_Returned_Tariff1"},{"property":"icon","value":"mdi:lightning-bolt"},{"property":"entity_category","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"}],"resend":false},{"id":"18eb8fc99c47eedb","type":"ha-entity-config","server":"30ef41fd.f4b83e","deviceConfig":"","name":"DSMR_Energy_Returned_Tariff2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"DSMR.Energy_Returned_Tariff2"},{"property":"icon","value":"mdi:lightning-bolt"},{"property":"entity_category","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"}],"resend":false},{"id":"021ab0303b63b713","type":"ha-entity-config","server":"30ef41fd.f4b83e","deviceConfig":"","name":"DSMR_Power_Delivered","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"DSMR.Power_Delivered"},{"property":"icon","value":"mdi:lightning-bolt"},{"property":"entity_category","value":""},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"kW"},{"property":"state_class","value":"measurement"}],"resend":true},{"id":"3a442e9e7e391066","type":"ha-entity-config","server":"30ef41fd.f4b83e","deviceConfig":"","name":"DSMR_Power_Returned","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"DSMR.Power_Returned"},{"property":"icon","value":"mdi:lightning-bolt"},{"property":"entity_category","value":""},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"kW"},{"property":"state_class","value":"measurement"}],"resend":true},{"id":"cca6c596e3326f60","type":"ha-entity-config","server":"30ef41fd.f4b83e","deviceConfig":"","name":"DSMR_Voltage_l1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"DSMR.Voltage_l1"},{"property":"icon","value":"mdi:current-ac"},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":"measurement"}],"resend":false},{"id":"a8f8fd19edbba897","type":"ha-entity-config","server":"30ef41fd.f4b83e","deviceConfig":"","name":"DSMR_Current_l1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"DSMR.Current_l1"},{"property":"icon","value":"mdi:current-ac"},{"property":"entity_category","value":""},{"property":"device_class","value":"current"},{"property":"unit_of_measurement","value":"A"},{"property":"state_class","value":"measurement"}],"resend":false},{"id":"fc1612024a5279e4","type":"ha-entity-config","server":"30ef41fd.f4b83e","deviceConfig":"","name":"DSMR_Power_Delivered_l1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"DSMR.Power_Delivered_l1"},{"property":"icon","value":"mdi:current-ac"},{"property":"entity_category","value":""},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"W"},{"property":"state_class","value":"measurement"}],"resend":true},{"id":"4552133414f0d7d1","type":"ha-entity-config","server":"30ef41fd.f4b83e","deviceConfig":"","name":"DSMR_Power_Returned_l1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"DSMR.Power_Returned_l1"},{"property":"icon","value":"mdi:current-ac"},{"property":"entity_category","value":""},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"W"},{"property":"state_class","value":"measurement"}],"resend":true},{"id":"30ef41fd.f4b83e","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
